{%- if predictive_search.performed -%}
  <div id="predictive-search-results" role="listbox">
    <div id="predictive-search-option-search-keywords" class="predictive-search__search-for-button">
      <button
        class="predictive-search__item predictive-search__item--term link link--text h5 animate-arrow"
        tabindex="-1"
        role="option"
        aria-selected="false"
      >
        <span data-predictive-search-search-for-text>
          {{- 'templates.search.search_for' | t: terms: predictive_search.terms -}}
        </span>
        {% render 'icon-arrow' %}
      </button>
    </div>
  </div>
  <span class="hidden" data-predictive-search-live-region-count-value>
    {{- 'templates.search.no_results' | t: terms: predictive_search.terms -}}
  </span>
{%- endif -%}
